html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */

}

.section {
  height:fit-content;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  margin:auto;
  border-radius: 10%;
}

header {
  color: white;
  font-size: 50px;
  background-color: rgb(162, 194, 200);
  text-align: center;
}
header nav h1
{
  text-decoration: none;
  color: white;
  cursor:pointer;
  box-sizing:content-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
}

h1 {
  font-size: 48px;
}

footer{
  text-align: center;
}
.column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }
  
  .row {
    display:flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image {
    height: 800px;
    width: 1000px;
    max-width: 70%;
    min-width: 70%;
    border-radius: 30px;
    height: auto;
  }
  .smallImage {
    height: 100px;
    width: 300px;
    max-width: 100%;
    border-radius: 30px;
    height: auto;
  }
  .image:hover
  {
    filter: brightness(70%);    /*helderheid naar 70%*/
    -webkit-filter: brightness(70%);
    transition: all 1s ease;        /*geleidelijk aan in 1 sec*/
  }
  .content {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s ease-out;
  }

  .visible {
    max-height: 1000px; /* Adjust the max height as needed */
    transition: max-height 0.3s ease-in;
  }

  .toggle-button {
    cursor: pointer;
  }